:root {
  --gray: rgba(0, 0, 0, 0.479);
  --red: rgb(191, 42, 29);
  --white: rgba(255, 255, 255);
  --red-transp: #bf2b1dad;
  --gray-dark: rgb(17, 15, 15);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* =============================== 1200 PX ============================= */

@media (max-width: 1200px) {
  .container-hero {
    max-width: 950px;
  }

  .img-hero {
    height: 250px;
  }

  .arte-container {
    max-width: 950px;
  }
}

/* =============================== 992 PX ============================= */
@media (max-width: 992px) {
  .navbar {
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }

  .logo-navbar {
    display: flex;
    width: 100px;
  }

  .menu-label {
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    color: var(--white);
  }

  .navbar-list {
    position: absolute;
    top: 100px;
    right: 0%;
    width: 30%;
    height: 100vp;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    padding: 3rem 2rem;
    gap: 2rem;
    /* align-items: flex-end; */
    background-color: var(--gray-dark);
    display: none;
  }

  .navbar-list a {
    font-size: 20px;
    cursor: pointer;
  }

  #menu-icon:checked + .navbar-list {
    display: flex;
  }

  .container-hero {
    max-width: 740px;
    flex-direction: column;
  }

  .info-dimetro {
    width: 80%;
    background-color: var(--gray);
  }

  .img-hero {
    display: none;
  }

  #about {
    max-width: 740px;
  }
  .cards {
    flex-wrap: wrap;
    height: 100%;
  }

  #contact-us {
    max-width: 740px;
  }

  .container-contact-us {
    flex-direction: column;
  }

  .date-container {
    display: flex;
    justify-content: center;
    width: 70%;
  }

  .ubication {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* =============================== 768 PX ============================= */
@media (max-width: 768px) {
  .navbar-list {
    width: 50%;
  }

  .container-hero {
    max-width: 540px;
  }

  .info-dimetro {
    align-items: center;
    justify-content: center;
  }

  .container-products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

/* =============================== 576 PX ============================= */
@media (max-width: 576px) {
  .navbar-list {
    width: 100%;
    padding-top: 1rem;
  }

  .container-hero {
    max-width: 550px;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
  }

  .info-dimetro h1 {
    font-size: 2rem;
  }

  .info-dimetro h1 span {
    font-size: 2.5 rem;
  }

  .info-dimetro p {
    font-size: 14px;
  }

  .info-dimetro p span {
    font-size: 14px;
  }

  .btn-red {
    background-color: var(--red);
    color: var(--white);
    border-radius: 6px;
    padding: 1px 5px;
    font-size: 12px;
  }

  #about {
    max-width: 550px;
    height: none;
    padding: 2rem 1rem;
  }

  .arte-container {
    font-size: 14px;
  }

  .arte-container h2 {
    font-size: 20px;
  }

  #products h2 {
    font-size: 20px;
  }

  #contact-us h2 {
    font-size: 20px;
  }

  .central h3,
  .sucursal h3 {
    font-size: 12px;
  }

  .central,
  .sucursal {
    font-size: 10px;
  }

  .point,
  .email,
  .whatsapp {
    font-size: 15px;
  }

  .nets {
    flex-direction: column;
    gap: 5px;
    align-items: start;
    font-size: 10px;
  }

  .ubication {
    width: 340px;
  }

  .developer p {
    font-size: 8px;
  }
}

/* =============================== 375 PX ============================= */
