@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html {
  scroll-padding-top: 90px;
}

body {
  height: 1200px;
  background-repeat: no-repeat;
  background-image: url(./img/back-main.jpg);
  background-size: cover;
}

/* <!-- ======================================== HEADER ======================================== --> */

header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.479);
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 5.5rem;
}

.navbar-img img {
  height: 90px;
  align-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 65%;
  align-items: center;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  gap: 4rem;
}

.navbar-list li a {
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.navbar-list li a:hover {
  color: #bf2a1d;
}

/* <!-- ======================================== HERO ======================================== --> */

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 0px 0px;
}

.container-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 100%;
  gap: 1rem;
  padding: 1rem 1rem;
}

.info-dimetro {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  width: 50%;
  height: 350px;
  /* background-color: rgba(0, 0, 0, 0.479); */
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.info-dimetro h1 {
  font-size: 3rem;
  color: white;
  line-height: 2.5rem;
}

.info-dimetro h1 span {
  font-size: 3.5rem;
  color: #bf2a1d;
  font-weight: 600;
}

.info-dimetro p {
  color: white;
}

.info-dimetro p span {
  color: #bf2a1d;
  font-weight: 600;
  font-size: 1.2rem;
}

.bottom-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.info-dimetro a,
.bottom-info button {
  background-color: #bf2a1d;
  color: white;
  border-radius: 10px;
  padding: 4px 10px;
  border: none;
  font-size: 1rem;
}

.bottom-info button:hover {
  background-color: white;
  color: #bf2a1d;
}

.img-hero {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  height: 350px;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* <!-- ======================================== ABOUT ======================================== --> */

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  backdrop-filter: sepia(70%);
}

.arte-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 150px;
  /* background-color: rgba(0, 0, 0, 0.479); */
  border-radius: 1rem;
  padding: 2rem 2rem;
  gap: 1rem;
}

.arte-container h2 {
  color: white;
  font-size: 3rem;
}

.arte-container p {
  color: white;
  text-align: justify;
}

.arte-container p span {
  color: #bf2a1d;
  font-weight: 600;
}
